<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="FIRE達成前後の資産運用をシミュレーションできます。">
    <meta name="keywords" content="FIRE,ファイア,早期退職,シミュレーション,シミュレーター,資産運用,インデックス投資,Webアプリ">
    <link rel="stylesheet" href="{{url_for('static',filename='css/sample.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}" />
    <title>Document</title>
</head>

<body>
    {% block content %}
    {% endblock %}
</body>

</html>