{% extends "./base.html" %}
{% block title %}FIREまでの収支入力{% endblock %}

{% block content %}
<div class="container">
    <h1>FIREまでの収支</h1>
    <div class="table-responsive">
        <table class="table table-sm">
            <form>
                <tbody>
                    <tr>
                        <th scope="row">
                            <label class="control-label" for="status">収入</label>
                        </th>
                        <td>
                            <label>
                                <input type="number" value="500" step="10" class="form-control input-sm" id="income1">
                            </label>
                            &nbsp;&nbsp;&nbsp;
                            <label>
                                万円
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <label class="control-label" for="status">支出</label>
                        </th>
                        <td>
                            <label>
                                <input type="number" value="400" step="10" class="form-control input-sm" id="outgo1">
                            </label>
                            &nbsp;&nbsp;&nbsp;
                            <label>
                                万円
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-center submit">
                            <button id="button" class="btn btn-light">一括設定</button>
                        </td>
                    </tr>
                </tbody>
            </form>
        </table>
    </div>
</div>

<script>
    var button = document.getElementById("button");

    button.addEventListener("click", function (e) {

        e.preventDefault();

        var income1 = document.getElementById("income1").value;
        var outgo1 = document.getElementById("outgo1").value;
        var io1 = parseInt(income1, 10) - parseInt(outgo1, 10);

        for (let step = 1; step < 31; step++) {
            var address = 'resultForm' + step;
            var resultForm = document.getElementById(address);
            resultForm.value = io1;
        }
    });
</script>

<div class="container">
    <div class="table-responsive">
        <table class="table table-sm">
            <form method="POST">
                <tbody>
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">収支</th>
                        </tr>
                    </thead>
                    {% for i in range(1,31) %}
                    <tr>
                        <th scope="row">
                            <label class="control-label" for="status">{{i}}年目</label>
                        </th>
                        <td>
                            <label>
                                <input type="number" name="income" value="100" step="10" class="form-control input-sm"
                                    id="resultForm{{i}}">
                            </label>
                            <label>
                                万円
                            </label>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="2" class="text-center submit">
                            <input type="submit" value="設定完了" class="btn btn-primary">
                        </td>
                    </tr>
                </tbody>
            </form>
        </table>
    </div>
</div>
{% endblock %}